---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.jsx';
import Intro from '../components/Intro.jsx';
import About from '../components/About.jsx';
import Project from '../components/Project.jsx';
---

<Layout title="Main">
	<main>
		<Navigation />
		<Intro client:load />
		<About client:load />
		<Project client:load />
	</main>
		
</Layout>


