---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="images/favicon.svg" />
		<!-- Manrope -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
		<!-- Lexend Deca -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">	
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-GT2SQ2VNB1"></script>
		<script>
		  import '../googleAnalytics.ts';
		</script>
	</head>
	<body>
		<div class="min-h-screen">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		background: #000000;
	}

	h1, h2 {
		font-family: 'Lexend Deca', sans-serif;
	}
	body {
		font-family: 'Manrope', sans-serif;
	}
	
	@font-face {
  		font-family: "Manrope";
  		font-optical-sizing: auto;
  		font-style: normal;
	}

	@font-face {
		font-family: "Lexend Deca";
  		font-optical-sizing: auto;
  		font-style: normal;
	}
</style>
